
<div *ngIf="isAuthenticated$ | async as isAuthenticated; else noAuth">

  <div class="btn-group" role="group" aria-label="Basic example">
  <button class="btn btn-primary" (click)="showtoken()">Access Token</button>  
  <button class="btn btn-secondary" (click)="callapi()">Call API</button>
  <button class="btn btn-success" (click)="logout()">Logout</button> 
</div>
  
<div class="card">
  <div class="card-body">
    <h5 class="card-title">profileData</h5>
    <pre>
      {{ profileData$ | async | json }}
    </pre>
      </div>
</div>


<div class="card">
    <div class="card-body">
      <h5 class="card-title">accessToken</h5>
      {{ accessToken$ | json }}
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">webapiData</h5>
        <pre>
          {{ webapiData$ | async | json }}
        </pre>
    </div>
  </div>
  
</div>

<ng-template #noAuth>
  <button class="btn btn-primary" (click)="login()">Login</button>
  <hr />
</ng-template>

